{% extends 'cms/admin/base.html' %}
{% block page_title %}
 Edit Office
{% endblock page_title %}
{% block content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Office No</h3>
                        <div class="form-group col-md-6">
                            {% if messages %}
                                {% for message in messages %}
                                {% if message.tags == 'error' %}
                                <div class="alert alert-danger">{{ message }}</div>
                                {% endif %}
                                {% if message.tags == 'success' %}
                                <div class="alert alert-success">{{ message }}</div>
                                {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" action="/edit_office_save" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" name="office_id" value="{{office.id}}">
                                <div class="form-group col-md-6">
                                    <label>Block</label>
                                    <select type="text" class="form-control" name="block_name">
                                        {% for block in blocks %}
                                        <option value="{{block.id}}"{% if block.id == office.block.id %} selected {% endif %}>{{block.block_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Office No</label>
                                    <input type="text" class="form-control" name="office_number" value="{{office.office_number}}" placeholder="Enter office number" required>
                                </div>   
                            </div>
                            <div class="row float-right">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Update</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                       
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
{% endblock content %}