{% extends 'cms/staffs/base.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Unprocessed appointments</h3>
              </div><br>
              <!-- /.card-header -->
              <div class="card-body table-responsive">
                <table class="table table-bordered table-hover" id="example2">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Student</th>
                      <th>Appointment Reason</th>
                      <th>Appointment Date</th>
                      <th>Time Slot</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for appointment in new_appointments %}
                    <tr>
                      <td>{{appointment.id}}</td>
                      <td>{{appointment.student.first_name}} {{appointment.student.last_name}}</td>
                      <td>{{appointment.reason}}</td>
                      <td>{{appointment.appointment_date}}</td>
                      <td>{{appointment.appointment_time}}</td>                     
                      <td>
                        <a href="{% url 'approve_appointment' appointment_id=appointment.id %}" class="btn btn-info btn-sm">Approve</i></a>
                        <a href="{% url 'reject_appointment' appointment_id=appointment.id %}" class="btn btn-warning btn-sm">Reject</i></a>
                       
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}