{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <!-- <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8"> -->
      <span class="brand-text font-weight-light">CMS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        {% if user.profile_pic %}
          <img src="{{ user.profile_pic.url }}" class="img-circle elevation-2" alt="User Image">
          {% else %}
          <img src="" class="img-circle elevation-2" alt="User Image">
          {% endif %}
        <div class="info">
          <a href="/staff_profile" class="d-block">{{ user.first_name  }} {{user.last_name}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            {% url 'staff_panel' as staff_panel %}
            <a href="{{staff_panel}}" class="nav-link {% if request.path == staff_panel %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Manage Slots
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                {% url 'create_schedule' as create_schedule %}
                <a href="{% url 'create_schedule' %}" class="nav-link {% if request.path == create_schedule %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                    Add slots
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'view_shedule' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                    View slots
                  </p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>