{% block notification %}
<ul class="navbar-nav ml-auto">
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="">
        <i class="far fa-bell"></i>
        <span class="badge badge-danger navbar-badge">{{ count_notifications }}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">{{ count_notifications }} Notifications</span>
        <div class="dropdown-divider"></div>
        {% for notification in notifications %}
        <a href="#" class="dropdown-item">
        <i class="fas fa-check mr-2"></i> {{notification.message}}
          <span class="float-right text-muted text-sm">{{notification.created_at}}</span>
          {% endfor %}
        </a>
       </div>

    </li>
    
  </ul>
  {% endblock notification %}