{% extends 'cms/students/base.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">My Appointments</h3>
              </div><br>
              <!-- /.card-header -->
              <div class="card-body table-responsive">
                <table class="table table-bordered table-hover" id="example2">
                  <thead>
                    <tr>
                      <th>Appointment Date</th>
                      <th>Appointment Time</th>
                      <th>Lecture Name</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for appointment in appointments %}
                    <tr>
                      <td>{{ appointment.appointment_date }}</td>
                      <td>{{ appointment.appointment_time }}</td>
                      <td>{{ appointment.staff_name }}</td>
                      <td>
                        {% if appointment.status == 1 %}
                        <a href="" class="btn btn-success btn-sm">Accepted</a>
                        {% elif appointment.status == 2 %}
                        <a href="" class="btn btn-warning btn-sm">Rejected</a>
                        {% else %}
                        <a href="" class="btn btn-info btn-sm">Not Processed</a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
    {% endblock main_content %}
    {% block custom_js %}
    <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false,
        });
      });
    </script>
    {% endblock custom_js %}
