<!DOCTYPE html> {% load static %}
<html>

<head>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/welcome.css' %}">
    <title>CMS</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">CMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a href="/login" class="btn btn-warning">Login</a>

            </div>
        </div>
    </nav>

    <div class="container">
        <section style="background-image:url(assets/dist/img/product-background-light.png);background-position: 100% 100%;background-repeat: no-repeat;background-size: cover;padding-top:30px;">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:20px;" align="center">
                    <img src="{% static 'dist/img/logo.jpg' %}" alt="" class="img-responsive" style="width:70%;">
                </div>
                <div class="col-xs-12 col-sm-6">
					<h1 style="font-family: 'DM Sans', sans-serif;font-size:50pt;letter-spacing:0.02em;line-height:1.1;color:#645d6b">Consultation<br>Management<br>System</h1>
					<h3 style="line-height:1.5;padding-right:40px;">A Consultation Management System is a software application designed to streamline process of scheduling,and tracking consultations or appointments between staffs (such as lectures, assistant lectures, tutorial assistants, etc.) and their students. It facilitates effective communication, appointment booking, and record-keeping for consultations.</b></h3><br>
<!--					<a class="btn" href="/login" style="width:50%;background:#99b0e0;border-color:#99b0e0;color:#000;">LOGIN</a>-->
				</div>

            </div><br>
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<marquee direction="left" style="padding:20px 0;">
                        <span style="font-weight: bolder; font-size: 25px; color: green">
                            WELCOME TO CONSULTATION MANAGEMENT SYSTEM !&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        </span>
                        </marquee>
				</div>
			</div>
		</section>
    </div>

	<div style="background-color:#cfcfcf;padding:30px 0;">
		<div class="container">
		</div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>